.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 100%;
}

.container.sm {
  max-width: 640px;
}

.container.md {
  max-width: 768px;
}

.container.lg {
  max-width: 1100px;
}

.container.xl {
  max-width: 1280px;
}

.container.full {
  max-width: 100%;
}

